// src/app/pages/login/login.component.scss

ion-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20%;
  }
  
  ion-segment {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 20px;
  }